<div class="user-group-fields">
  <div class="field">
    <%= f.text_field :name, help_text: t(".name_help") %>
  </div>
  <div class="field">
    <%= f.text_field :nickname, help_text: t(".nickname_help") %>
  </div>
  <div class="field">
    <%= f.text_field :email, help_text: t(".email_help") %>
  </div>
  <div class="field">
    <%= f.upload :avatar %>
  </div>
  <div class="field">
    <%= f.text_area :about, rows: 5 %>
  </div>
</div>
